@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@400;500;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #043c60;
    background-image: linear-gradient(0deg, #043c60 0%, #ffffff 100%);
}
/* Header and Footer ---------------- */
header{
    height: 80px;
    width: 100%;
    background-color: #043c60;
    line-height: 90px;
}
footer{
    position: static;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    line-height: 60px;
}
/* Colores --------------------------- */
.bgwhite{
    background-color: white;
}
/* Container ------------------------- */
#contendor{
    height: 100%;
    width: 80%;
    margin: auto;
}
/* Medidas --------------------------- */
.w150{
    width: 150px;
}
.w300{
    width: 300px;
}
.h200{
    height: 200px;
}
.w100{
    width: 100%;
}
/* Listas ---------------------------- */
.lsout{
    list-style: none;
}
/* Tipografia -------------------------*/
.txta{
    text-align: center;
}
.ffv{
    font-family: 'Varela Round', sans-serif;
}
.ffr{
    font-family: 'Noto Sans HK', sans-serif;
    font-family: 'Roboto', sans-serif;
}
li i{
    font-size: 35px;
}
.fs50{
    font-size: 50px;
}
li a{
    text-decoration: none;
    color: black;
}
.fcw{
    color:whitesmoke;
}
/* Odernamiento ---------------------- */
.dflex{
    display: flex;
}
.jr{
    justify-content: right;
}
.jcc{
    justify-content: center;
}
.spa{
    justify-content: space-around;
}
.fdr{
    flex-direction: row;
}
.mrr{
    margin-right: 20px;
}
.pd20{
    padding: 20px;
}
.pd15{
    padding: 10px 0;
}
.pd5{
    padding: 5px;
}
.mt10{
    margin-bottom: 10px;
}
/* Card ------------------------------ */
.card{
    background-color: #043c60;
    border-radius: 20px;    
}
.boton{
    text-decoration: none;
    color: black;
    font-weight: 900;
    background-color: whitesmoke;
    border-radius: 5px;
}
@media screen and (max-width: 667px) {
    .fdc{
        flex-direction: column;
    }
    .jccmw{
        justify-content: center;
    }
    .w100mw{
        width: 100%;
    }
}