@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* tipografia --------------- */
.frr{
    font-family: 'Roboto Flex', sans-serif;
}
.med{
    font-size: 30px!important;
}
.high{
    font-size: 50px!important;
}
.fs20{
    font-size: 20px;
}
.fs15{
    font-size: 15px;
}
.fs12{
    font-size: 12px;
}
.fs30{
    font-size: 30px;
}
.fs50{
    font-size: 50px;
}
/* colores ------------------ */
.bgb{
    background-color: #21325E;
}
.bgb2{
    background-color: #3b5aa8;
}
.bgw{
    background-color: #c7c7c7;
}
.bgbisque{
    background-color: bisque;
}
.bgwhite{
    background-color: white;
}
.bgg{
    background-color: rgb(206, 206, 206);
}
.cg{
    color: rgb(62, 62, 62);
}
.cggrad{
     color: rgb(144, 143, 143);
}
.cb{
    color: black;
}
.cw{
    color: white;
}
/* backgrounds ------------- */
.bgirest{
    background-image: url('img/restind.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bsblack{
    box-shadow: inset 0 0 300px black;
}
/* tamaños ----------------- */
.h400{
    height: 400px;
}
.h300{
    height: 300px;
}
.h50{
    height: 50px;
}
.w80{
    width: 80%;
}
.w50{
    width: 45%;
}
.w100{
    width: 100%;
}
.h50{
    height: 50px;
}
.h200{
    height: 200px;
}
.h180{
    height: 180px;
}
.w150{
    width: 150px;
}
.h150{
    height: 150px;
}
.pd40{
    padding: 20px 0 0 40px;
}
.pd2{
    padding: 10px 5px;
}
.pd1010{
    padding: 20px 10px;
}
.pdt5{
    padding-top: 5%;
}
.pdt10{
    padding-top: 10px;
}
.pdt30{
    padding-top: 30px;
}
.pdl30{
    padding-left: 30px;
}
form{
    width: 100%;
}
#icon_ubi{
    height: 50px;
    width: 25%;
    background-color: #c7c7c7;
    border: none;
}
#brow{
    height: 50px;
    width: 90%;
    background: none;
    border: none;
    padding: 25px;
}
#btn{
    width: 20%;
    background: none;
    border: none;
}
.br10{
    border-radius: 10px;
}
.ovh{
    overflow: hidden;
}
.br1010{
    border-radius: 10px 0 10px 10px;
}
.br10010{
    border-radius: 10px 0 10px;
}
.br10l{
    border-radius: 0 0 10px 10px;
}
/* ordenamiento ------------ */
.dflex{
    display: flex;
}
.column{
    flex-direction: column;
}
.aic{
    align-items: center;
}
.pa{
    position: absolute;
}
.spa{
    justify-content: space-around;
}
.spb{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}
.t275{
    top: 275px;
}
.mt60{
    margin-top: 60px;
}
.t200{
    top: 200px;
}
.t500{
    top: 500px;
}
.t530{
    top: 530px;
}
.l20{
    left: 50%;
}
.l10{
    left: 10%;
}
.l5{
    left: 5%;
}
.r42{
    right: 42%;
}
.rp10{
    right: 10%;
}
.rp9{
    right: 9%;
}
/* estilos ------------- */
.td{
    text-decoration: none;
}
.dsb{
    filter: drop-shadow(0 10px 0.75rem rgb(61, 61, 61));
}
.dsbw{
    filter: drop-shadow(0 10px 1rem rgb(255, 255, 255));
}
.tac{
    text-align: left;
}
/* CARD ---------------- */
.container_restaurant{
}
.img_rest{
    background-image: url(img/restind.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img_rest1{
    background-image: url(img/restind1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img_rest2{
    background-image: url(img/restind2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 662px) {
    .ws80{
        width: 55%;
    }
    .hs300{
        height: 300px;
    }
    .ws300{
        width: 350px;
    }
    .fss20{
        font-size: 40px;
    }
    .fss50{
        font-size: 50px;
    }
    .fs12{
        font-size: 20px;
    }
    .pd1010{
        padding: 50px 35px;
    }
    .pdt5{
        padding-top: 20px;
    }
    .pdt4{
        padding-top: 10px;
    }
    .pds2{
        padding: 18px 12px;
    }
    .pd10{
        padding: 50px 0 0 100px;
    }
    .row{
         flex-direction: row;
    }
    .pdts20{
        padding-top: 50px;
    }
}